.sticky-container {
  z-index: 7;
}

.sticky-table {
  background-color: #f5f5dc;
  border-collapse: collapse;
}

.timetable-table {
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.cell {
  width: 5.8rem;
  border: 0.01px solid hsl(0, 0%, 75%);
  position: relative;
  z-index: 5;
}

.cell-current-day {
  width: 5.8rem;
  border: 0.01px solid hsl(0, 0%, 75%);
  position: relative;
  z-index: 5;
  background-color: #eaeab4;
}
