.timetable-container {
  height: calc(100% - 1.5rem);
  overflow-y: auto;
  position: relative;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.timetable-container::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

.tasks-container {
  height: calc(100% - 5.1rem);
  overflow-y: auto;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tasks-container::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

.sticky-container {
  z-index: 7;
}

.sticky-table {
  background-color: beige;
  border-collapse: collapse;
}

.timetable-table {
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.cell {
  width: 5.8rem;
  border: 1px solid hsl(0, 0%, 75%);
  position: relative;
  z-index: 5;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
}

.no-tasks {
  margin-left: 0.5rem;
}
