.cell {
  width: 5.8rem;
  border: 1px solid hsl(0, 0%, 75%);
  position: relative;
  z-index: 5;
}

.cell-top {
  display: flex;
  justify-content: space-between;
}

.details-popup {
  font-size: 0.75rem;
  text-decoration: underline;
}
