.link-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem;
}

.link-button:hover {
  filter: brightness(0.9);
}

.link-item {
  text-decoration: none;
  color: black;
}

.link-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 3rem);
}
