html {
  background-color: #ffffff;
}

:root {
  --navbar-height: 3rem;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar a,
.grid a {
  text-decoration: none;
  color: black;
}

.nunito {
  font-family: Nunito, "Times New Roman", Times, serif;
}

/*
===============================================================================
Navbar
===============================================================================
*/

.navbar {
  height: var(--navbar-height);
  width: 100vw;
  background-color: #fff4e4;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.logo-wrapper {
  --logo-padding: 0.35rem;

  max-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: var(--logo-padding);
}

.logo {
  padding: var(--logo-padding);
  height: calc(var(--navbar-height) - 2 * var(--logo-padding));
}

.logo-text {
  font-size: 1.6rem;
  vertical-align: middle;
}

/*
===============================================================================
Private
===============================================================================
*/

.background {
  /* 1px is for the bottom border of the navbar */
  height: calc(100vh - var(--navbar-height) - 1px);
  width: 100vw;
  background-color: #e6e2dc;
}

.grid {
  --grid-gap: 0.5rem;

  /* 1px is for the bottom border of the navbar */
  height: calc(100vh - var(--navbar-height) - 1px - var(--grid-gap));
  width: calc(100vw - var(--grid-gap));
  display: grid;
  grid-template:
    "links timetable tasks" 40%
    "notes timetable tasks" 60% / 15rem auto 1fr;
  grid-gap: var(--grid-gap);
}

.grid > * {
  background-color: hsl(0, 0%, 99%);
}

.links-section {
  grid-area: links;
}

.notes-section {
  grid-area: notes;
}

.timetable-section {
  grid-area: timetable;
  padding: 0 1rem;
}

.tasks-section {
  grid-area: tasks;
}
